table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 12px;
  }
p{
    text-align: center;
}
.main{
    display: inline-block;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}